Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/Asset
Content/space-fighter
Content/space-ship
Content/spaceship-cb1
Content/spaceship-cb2
Content/light-fighter-spaceship-free
Content/FXVarietyPack
Content/StarterContent
Content/Material
Content/Megascans
Content/Meshs
Content/Sound
Content/Image
Content/class-3-fighter-spaceship-hodbin-free-model

